@model IEnumerable<BancaBasica.Models.Movimiento>;

@{
    ViewData["Title"] = "Ingreso de Movimientos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    @if (TempData["mensaje"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show">
            @TempData["mensaje"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <div class="row">
        <div class="col-sm-6">
            <h3>Movimientos</h3>
        </div>

        <div class="col-sm-6">
            <a class="btn btn-success d-block" asp-action="Create"
               asp-controller="Movimientos">Ingresar Nuevo Movimiento</a>
        </div>
    </div>

    <div class="row">
        @if (Model.Count() > 0)
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.Id_Movimiento)</td>
                        <td>@Html.DisplayNameFor(m => m.Tipo)</td>
                        <td>@Html.DisplayNameFor(m => m.Valor)</td>
                        <td>@Html.DisplayNameFor(m => m.Fecha)</td>
                        <td>@Html.DisplayNameFor(m => m.Id_Cuenta)</td>
                        <td>Acciones</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.Id_Movimiento</td>
                        <td>@item.Tipo</td>
                        <td>@item.Valor</td>
                        <td>@item.Fecha</td>
                        <td>@item.Id_Cuenta</td>
                        <td>
                            <a class="btn btn-warning" asp-controller="Movimientos" asp-action="Edit"
                               asp-route-id="@item.Id_Movimiento">Editar</a>

                            <a class="btn btn-danger" asp-controller="Movimientos" asp-action="Delete"
                               asp-route-id="@item.Id_Movimiento">Eliminar</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p class="lead">No existen registros</p>
        }
    </div>

</div>